__pycache__/
*.py[cod]
*.so

.venv/
.env
.envrc

.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
.hypothesis/
.mypy_cache/
.ruff_cache/
.uv-cache/
.basedpyright/
.pyright/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

custom_components/route_tracker/www/

*.md
!README.md
!DEVELOPMENT.md
!.github/**/*.md

*.txt
!.github/requirements_test.txt

*.sh
!frontend/build.sh
